body {
    display: flex;
    justify-content: center;
}

.calculator {
    display: flex; 
    width: 450px; 
    height: 600px; 
    margin: 50px; 
    flex-direction: column;
    background-color: rgb(69, 69, 69);
    align-content: stretch;
    justify-content: center;
    align-items: stretch; 
    border-radius: 10px;
}

.screen {
    display: flex; 
    flex-direction: column;
    background-color: white;
    height: 120px;
    margin: 17px; 
    justify-content: center;
    align-items: flex-end;
    padding-right: 10px; 
    font-family: sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS'; 
    font-weight: 200;
}

#equation {
    font-size: 20px;
    margin: 0px; 
    padding: 0px; 
}

#result {
    font-size: 75px; 
    margin: 0px; 
    padding: 0px; 
}

.buttons {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: center;
    align-items: center;
}

button {
    width: 100px; 
    height: 80px; 
    margin: 1px; 
    border-radius: 5px;
    border-color: white; 
    font-size: 25px;
    background-color: rgb(255, 209, 217);
}

#equal {
    background-color: rgb(255, 140, 159);
}
